body {
  font-family: "Arial", sans-serif;
  font-family: var(--font-poppins);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-class {
  width: 1200px;
  height: 80px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2%;
}
.customTabs {
  li.active {
    border: 2px solid black;
    border-top: none;
    border-width: 3px;
  }
}
.circle-icon {
  background: #8064a2;

  padding: 5px;
  border-radius: 50%;
}

.paragraph {
  display: flex;
  flex-direction: row;
}
.paragraph:before,
.paragraph:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.paragraph:before {
  margin-right: 10px;
}
.paragraph:after {
  margin-left: 10px;
}
